
<%- include('partials/header') %>

  <div class="main-wrapper">
    <div class="section hero scroll">
      <div class="container hero-section y-container">
        <div class="global-content-padding margin-bottom gradient-yellow">
          <div class="hero-container other-pages">
            <h1>Works Studio</h1>
            <div class="y-dyn-list ">
              <div role="list" class="buttons-wrapper y-dyn-items">
                <div role="listitem" class="y-dyn-item category main-category">
                  <span class="button category show-all  Select-category" data-category="all">All</span>
                </div>
              
                <div role="listitem" class="y-dyn-item category  main-category">
                  <span class="button category web-design  Select-category" data-category="web-design">Website</span>
                </div>
                <div role="listitem" class="y-dyn-item category main-category">
                  <span class="button category graphic-design  Select-category" data-category="graphic-design">Graphic Design</span>
                </div>
                <div role="listitem" class="y-dyn-item category main-category">
                  <span class="button category ai  Select-category" data-category="ai">AI</span>
                </div>
                <div role="listitem" class="y-dyn-item category main-category">
                  <span class="button category chatbot  Select-category" data-category="chatbot">Chatbot</span>
                </div>
                <button class="backbutton show-all" id="go-back-button" style="display: none;">
                  <div class="button-box">
                    <span class="button-elem">
                      <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
                        </path>
                      </svg>
                    </span>
                    <span class="button-elem">
                      <svg viewBox="0 0 46 40">
                        <path
                          d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
                        </path>
                      </svg>
                    </span>
                  </div>
                </button>
     
                <div role="list" class="buttons-wrapper y-dyn-items subcategory-container ">
                  <div role="listitem" class="y-dyn-item subcategory web-design">
                    <span class="button ui-ux all Select-category" data-category="web-design">All</span>
                  </div>
                  <div role="listitem" class="y-dyn-item subcategory web-design">
                    <span class="button subcategory Select-category" data-category="web-design" data-subcategory="Artist">Artist</span>
                  </div>
                  <div role="listitem" class="y-dyn-item subcategory web-design">
                    <span class="button subcategory Select-category" data-category="web-design" data-subcategory="Blog">Blog</span>
                  </div>
                  <div role="listitem" class="y-dyn-item subcategory web-design">
                    <span class="button subcategory Select-category" data-category="web-design" data-subcategory="Corporate">Corporate</span>
                  </div>
                  <div role="listitem" class="y-dyn-item subcategory web-design">
                    <span class="button subcategory Select-category" data-category="web-design" data-subcategory="E-commerce">E Commerce</span>
                  </div>
                  <div role="listitem" class="y-dyn-item subcategory web-design">
                    <span class="button subcategory Select-category" data-category="web-design" data-subcategory="Food">Food</span>
                  </div>
                  <div role="listitem" class="y-dyn-item subcategory web-design">
                    <span class="button subcategory Select-category" data-category="web-design" data-subcategory="Real-Estate">Real Estate</span>
                  </div>
                  <div role="listitem" class="y-dyn-item subcategory web-design">
                    <span class="button subcategory Select-category" data-category="web-design" data-subcategory="Restaurant">Restaurant</span>
                  </div>
                  <div role="listitem" class="y-dyn-item subcategory web-design">
                    <span class="button subcategory Select-category" data-category="web-design" data-subcategory="Web3">Web3</span>
                  </div>
                </div>

                <div role="list" class="buttons-wrapper y-dyn-items subcategory-container subcategory-container-4">
                  <div role="listitem" class="y-dyn-item subcategory graphic-design">
                    <span class="button graphic-design Select-category all" data-category="all">All</span>
                  </div>
                  <div role="listitem" class="y-dyn-item subcategory graphic-design">
                    <span class="button subcategory Select-category" data-category="graphic-design" data-subcategory="brand-kit">Brand Kit</span>
                  </div>
                  <div role="listitem" class="y-dyn-item subcategory graphic-design">
                    <span class="button subcategory Select-category" data-category="graphic-design" data-subcategory="ui/ux">UI/UX</span>
                  </div>
                  <div role="listitem" class="y-dyn-item subcategory graphic-design">
                    <span class="button subcategory Select-category" data-category="graphic-design" data-subcategory="mockups">Mockups</span>
                  </div>
                  <div role="listitem" class="y-dyn-item subcategory graphic-design">
                    <span class="button subcategory Select-category" data-category="graphic-design" data-subcategory="business-card">Business Card</span>
                  </div>
                  <div role="listitem" class="y-dyn-item subcategory graphic-design">
                    <span class="button subcategory Select-category" data-category="graphic-design" data-subcategory="logo">Logo</span>
                  </div>
                  <div role="listitem" class="y-dyn-item subcategory graphic-design">
                    <span class="button subcategory Select-category" data-category="graphic-design" data-subcategory="posters">Posters</span>
                  </div>
                
                </div>
                <div role="list" class="buttons-wrapper y-dyn-items subcategory-container">
                  <div role="listitem" class="y-dyn-item subcategory chatbot">
                    <span class="button chatbot all Select-category" data-category="all">All</span>
                  </div>
                  <div role="listitem" class="y-dyn-item subcategory chatbot">
                    <span class="button subcategory Select-category" data-category="chatbot" data-subcategory="whatsapp-bot">Whatsapp Bot</span>
                  </div>
                  <div role="listitem" class="y-dyn-item subcategory chatbot">
                    <span class="button subcategory Select-category" data-category="chatbot" data-subcategory="telegram-bot">Telegram Bot</span>
                  </div>
                </div>
                <div role="list" class="buttons-wrapper y-dyn-items subcategory-container">
                  <div role="listitem" class="y-dyn-item subcategory ai">
                    <span class="button ai all Select-category" data-category="all">All</span>
                  </div>
                  <div role="listitem" class="y-dyn-item subcategory ai">
                    <span class="button subcategory Select-category" data-category="ai" data-subcategory="ai-magic">Ai Magic</span>
                  </div>
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="section no-padding-top page-load-animation">
    <div class="container y-container">
      <div class="projects-collection-list y-dyn-list">
        <div role="list" class="grid y-dyn-items">
          <% projects.slice(0, 4).forEach(function(project) { %>      
                  <div role="listitem" class="project-item global-content-padding y-dyn-item"
              data-category="<%= project.datacategory %>"> <a href="/projects/<%= project.id %>"
                class="link-block y-inline-block"> <img src="<%= project.images[0] %>" loading="lazy" alt=""
                  class="project-image"> </a>
              <div class="project-description-wrapper">
                <div class="project-title-description-wrapper"> <a href="/projects/<%= project.id %>"
                    class="link-block y-inline-block">
                    <h2 class="project-name">
                      <%= project.name %>
                    </h2>
                  </a>
                  <div class="tags-wrapper">
                    <div class="project-journal-tags-collection-list y-dyn-list">
                      <div role="list" class="buttons-wrapper y-dyn-items">
                        <% project.services.forEach(function(service) { %>
                          <div role="listitem" class="project-journal-tags-item y-dyn-item category"> <span
                              class="button category <%= project.category %>">
                              <%= service %>
                            </span> </div>
                          <% }); %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% }); %>

        </div>
      </div>
      <div class="link-block y-inline-block load-more-button">
        <div class="global-content-padding big-padding gradient-purple-center animate-gradient">
          <div class="text-align-center">Discover All Work</div>
        </div>
      </div>
    </div>
  </div>




      </script>
  <%- include('partials/footer') %>

  <script>
    $(document).ready(function() {
    let offset = 0;
    let initialLimit = 4; // Number of items to load on initial request
  let loadMoreLimit = 4; // Number of items to load on subsequent requests
  let currentCategory = 'All';
  let currentSubcategory = 'All';
  let isFirstLoad = true; 
  
    // Function to fetch projects
    function fetchProjects(resetOffset = false, limit = initialLimit) {
    if (resetOffset) offset = 0;
    $.ajax({
      url: '/api/projects',
      type: 'GET',
      data: {
        category: currentCategory === 'All' ? null : currentCategory,
        subcategory: currentSubcategory === 'All' ? null : currentSubcategory,
        offset: offset,
        limit: limit
      },
      dataType: 'json',
      success: function(response) {
        if (resetOffset) {
          $('.grid').empty();
        }
        response.projects.forEach(project => {
        // Construct the Cloudinary image URL
        const imageName = project.images[0].split('/').pop(); // Get the image file name
        const cloudinaryFolder = 'work.yesbhautik'; // Replace with your actual folder name
        const publicId = `${cloudinaryFolder}/${imageName}`; // Construct public ID
        const cloudinaryURL = `https://res.cloudinary.com/dl9rorn1z/image/upload/f_auto,q_auto/${publicId}`;

        // Dynamically create the project HTML
        let projectHTML = `
          <div role="listitem" class="project-item global-content-padding y-dyn-item"
            data-category="${project.datacategory}"> <a href="/projects/${project.id}"
              class="link-block y-inline-block"> <img src="${cloudinaryURL}" loading="lazy" alt=""
                class="project-image"> </a>
            <div class="project-description-wrapper">
              <div class="project-title-description-wrapper"> <a href="/projects/${project.id}"
                  class="link-block y-inline-block">
                  <h2 class="project-name">
                    ${project.name}
                  </h2>
                </a>
                <div class="tags-wrapper">
                  <div class="project-journal-tags-collection-list y-dyn-list">
                    <div role="list" class="buttons-wrapper y-dyn-items">
                      ${project.services.map(service => `
                        <div role="listitem" class="project-journal-tags-item y-dyn-item category"> <span
                            class="button category ${project.category}">
                            ${service}
                          </span> </div>
                      `).join('')}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        `;

        // Append the updated project HTML to the grid
        $('.grid').append(projectHTML);
      });
      offset += response.projects.length;
      $('.load-more-button').toggle(response.hasMore);

      if (isFirstLoad) {
        isFirstLoad = false;
      }
    },
    error: function(xhr, status, error) {
      console.error("An error occurred fetching the projects: ", error);
    }
  });
}
  
    $('.show-all').addClass('selected');
  
    
    $('.main-category .button.category').click(function() {
      currentCategory = $(this).data('category');
      currentSubcategory = 'All'; 
      $('.main-category').hide();
      $('.subcategory-container').hide();
      $('.subcategory.' + currentCategory).parent().css('display', 'flex');
      $('.subcategory.' + currentCategory + ' .button.all').addClass('selected');
      $('#go-back-button').show();
      fetchProjects(true);
    });

    


    $('.subcategory .button.subcategory').click(function() {
  currentSubcategory = $(this).data('subcategory');
  $('.subcategory .button').removeClass('selected'); 
  $(this).addClass('selected'); 
  fetchProjects(true); 
});

// "All" subcategory button event listener
$('.subcategory .button.all').click(function() {
  currentSubcategory = 'All';
  $('.subcategory .button').removeClass('selected'); 
  $(this).addClass('selected'); 
  fetchProjects(true); 
});
  
    // "Show All" button event listener
    $('.show-all').click(function() {
      currentCategory = 'All';
      currentSubcategory = 'All';
      $('.main-category .button.category, .subcategory .button.subcategory').removeClass('selected');
      $(this).addClass('selected');
      $('.main-category').show();
      $('.subcategory-container').hide();
      $('#go-back-button').hide();
      fetchProjects(true);
    });
  // "Go Back" button event listener
  $('#go-back-button').click(function() {
    currentCategory = 'All'; 
    currentSubcategory = 'All'; 
    $('.main-category').show(); 
    $('.subcategory-container').hide(); 
    $('.main-category .button.category, .subcategory .button.subcategory').removeClass('selected'); 
    $('.show-all').addClass('selected');
    $(this).hide(); 
    
  });
    // "Load More" button event listener
    $('.load-more-button').click(function() {
    fetchProjects(false, loadMoreLimit); 
  });
  
    // Initial load of projects
    fetchProjects(true);
  });


      </script>